.black {
  color: black;
  font-weight: 500;
}
.button {
  min-width: 100px;
  color: #fff;
  font-weight: 700;
  background-color: #00c878;
  border: 1px solid transparent;
  box-shadow: 1px 1px 2px rgba(62, 63, 58, 0.2);
  cursor: pointer;
  transition: all 0.2s;
}
.button:hover {
  background-color: #04814f;
}
.logo {
  width: 300px;
  height: 150.3px;
  padding: 40px 40px 0 40px;
  text-align: center;
}
