.account-details-content {
  margin-bottom: 20px;
  padding: 40px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);

  @media (max-width: 800px) {
    padding: 20px;
  }
}

.form-header {
  margin-bottom: 20px;
}
