@color: white;

* {
  box-sizing: border-box;
}

.feedback-container {
  margin: 0 0 20px 0;
}

.box-style {
  background-color: @color;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.leftBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 8px 8px;
  padding: 40px;
  font-size: large;
}

.rightBox {
  margin: 8px 8px;
  padding: 10px 10px;
}

.ant-divider-horizontal {
  margin: 4px 0;
}

.ant-divider-vertical {
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;

  @media (max-width: 768px) {
    display: none;
  }
}
