* {
  box-sizing: border-box;
}

.rating-container {
  margin: 0 0 20px 0;
}

.box-style {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.leftBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 8px 8px;
  padding: 20px;
  font-size: large;
}

.ant-divider-vertical {
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;

  @media (max-width: 768px) {
    display: none;
  }
}
