.dropdown-box {
  width: 350px;
  margin-top: 15px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.upper-row {
  padding: 10px;
}

.lower-row {
  padding: 10px;
  background: #f4f4f4;
}

.photo {
  width: 80px;
  height: 80px;
  margin: 10px;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
}

.account-settings-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.account-settings-links span {
  font-weight: 500;
  font-size: 12px;
}
